body {
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  font-family: PT Sans Narrow;
  text-transform: uppercase;
}

h1,
.index-content-title {
  font-size: 30px;
  line-height: 42px;
}

.subtitle {
  font-size: 24px;
  line-height: 30px;

}
